---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=correct_refresh_token&client_id=<client_id>&client_secret=<client_secret>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename="json.txt"; filename*=UTF-8''json.txt
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token" : "new_access_token",
          "expires_in" : 3600,
          "token_type" : "Bearer"
        }
  recorded_at: Thu, 21 Dec 2017 17:56:10 GMT
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events/7rv3c04d721n2g271suh72gaoj
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer new_access_token
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"3027745588260000"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#event",
         "etag": "\"3027745588260000\"",
         "id": "7rv3c04d721n2g271suh72gaoj",
         "status": "confirmed",
         "htmlLink": "https://www.google.com/calendar/event?eid=N3J2M2MwNGQ3MjFuMmcyNzFzdWg3Mmdhb2oga2Vscy5sYW5nbG9pc0Bt",
         "created": "2017-12-21T16:13:14.000Z",
         "updated": "2017-12-21T16:13:14.130Z",
         "summary": "Test Event",
         "creator": {
          "email": "kels.langlois@gmail.com",
          "displayName": "Kelsey Langlois",
          "self": true
         },
         "organizer": {
          "email": "kels.langlois@gmail.com",
          "displayName": "Kelsey Langlois",
          "self": true
         },
         "start": {
          "dateTime": "2017-12-21T17:00:00-08:00"
         },
         "end": {
          "dateTime": "2017-12-21T18:00:00-08:00"
         },
         "iCalUID": "7rv3c04d721n2g271suh72gaoj@google.com",
         "sequence": 0,
         "reminders": {
          "useDefault": true
         }
        }
  recorded_at: Thu, 21 Dec 2017 17:56:10 GMT
recorded_with: VCR 4.0.0
