---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=correct_refresh_token&client_id=<client_id>&client_secret=<client_secret>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename="json.txt"; filename*=UTF-8''json.txt
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token" : "new_access_token",
          "expires_in" : 3600,
          "token_type" : "Bearer"
        }
  recorded_at: Thu, 21 Dec 2017 18:48:40 GMT
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events?orderBy=startTime&singleEvents=true&timeMax=2017-12-22T10:35:59-08:00&timeMin=2017-12-21T10:35:59-08:00
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer new_access_token
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#events",
         "etag": "\"p32od3ndjrmdtg0g\"",
         "summary": "kels.langlois@gmail.com",
         "updated": "2017-12-21T18:26:25.742Z",
         "timeZone": "America/Los_Angeles",
         "accessRole": "owner",
         "defaultReminders": [
          {
           "method": "popup",
           "minutes": 30
          }
         ],
         "items": [
          {
           "kind": "calendar#event",
           "etag": "\"3027745532852000\"",
           "id": "22tm2elh1blgmn2tiinmh6nl2r",
           "status": "confirmed",
           "htmlLink": "https://www.google.com/calendar/event?eid=MjJ0bTJlbGgxYmxnbW4ydGlpbm1oNm5sMnIga2Vscy5sYW5nbG9pc0Bt",
           "created": "2017-12-21T16:12:46.000Z",
           "updated": "2017-12-21T16:12:46.426Z",
           "summary": "Trade Show",
           "location": "Epicodus, 1201 3rd Ave #1600, Seattle, WA 98101, USA",
           "creator": {
            "email": "kels.langlois@gmail.com",
            "displayName": "Kelsey Langlois",
            "self": true
           },
           "organizer": {
            "email": "kels.langlois@gmail.com",
            "displayName": "Kelsey Langlois",
            "self": true
           },
           "start": {
            "dateTime": "2017-12-21T15:00:00-08:00"
           },
           "end": {
            "dateTime": "2017-12-21T16:00:00-08:00"
           },
           "iCalUID": "22tm2elh1blgmn2tiinmh6nl2r@google.com",
           "sequence": 0,
           "reminders": {
            "useDefault": true
           }
          },
          {
           "kind": "calendar#event",
           "etag": "\"3027745588260000\"",
           "id": "7rv3c04d721n2g271suh72gaoj",
           "status": "confirmed",
           "htmlLink": "https://www.google.com/calendar/event?eid=N3J2M2MwNGQ3MjFuMmcyNzFzdWg3Mmdhb2oga2Vscy5sYW5nbG9pc0Bt",
           "created": "2017-12-21T16:13:14.000Z",
           "updated": "2017-12-21T16:13:14.130Z",
           "summary": "Test Event",
           "creator": {
          [...]
