<h1 class="ui dividing header">
  <i class="calendar icon"></i>
  <div class="content">
    Upcoming Events
  </div>
</h1>

<% if @events.any? %>
  <% @events.each do |event| %>
    <div class="ui large feed">
      <div class="event">
        <div class="label">
          <i class="calendar outline icon"></i>
        </div>
        <div class="content">
          <div class="summary">
            <%= event.summary %>
            <div class="date">
              <% if event.start.date_time %>
                <%= event.start.date_time.strftime('%H:%M on %A') %>
              <% else %>
                <%= event.start.date.to_datetime.strftime('All day %A')  %>
              <% end %>
            </div>
          </div>
          <div class="extra text">
            <%= event.location %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <h3>No Upcoming Events Saved</h3>
<% end %>
