/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "semantic-ui";

// Updates to Semantic, used throughout site

.message.notification {
  text-align: left;
}

.ui.main.text.container {
  padding-top: 60px;
}

.ui.dividing.header {
  padding-bottom: .3em;
}

// Sign in & up pages

.sign-in-up-grid {
  min-height: 100vh;
}

// Forms

.form-column {
  max-width: 450px;
}

// Custom font-color classes

.red {
  color: #db2828;
}

.green {
  color: #21ba45;
}

.unweight {
  font-weight: normal;
}
